<% provide(:title, 'All users') %>
<h1>All users</h1>

<ul class="users">
	<% @users.each do |user| %>
		<li style="display: block;">
			<%= gravatar_for user, size: 52 %>
			<%= link_to user.name, user %>
		</li>
	<% end %>
</ul>